
.wrap {
    background-image: url('../../images/backround.png');
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    height: 100vh ;}
.wrap::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(23, 23, 23, 0.87);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index:1 ;
}
.main_inner {
    position: relative;
    z-index: 2;}
.main_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main_inner h1 {
    height: 83px;
    font-size: 64px;
    line-height: 83px;
    text-align: center;
    color: #FFFFFF;
}
.main_inner p {
    width: 536px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.main_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main_name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

}
.answer {
    display: flex;
    margin-top: 41px;
}
input  {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    width: 368px;
    background: transparent;
    color: #FFFFFF;
}
.main_inner span {
    margin-top: 30px;
}