
.first {
    display: flex;
    align-items: center;
    justify-content: center;
}
.first h2 {
    text-align: center;
    margin-left:45px ;
    margin-right: 45px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;

    letter-spacing: -0.03em;

    color: #FFFFFF;
}

.one {
    width: 28px;
    height: 14px;
    background:  #F31D1D;
    border-radius: 0 50px;
}
.two {
    width: 28px;
    height: 14px;
    background: #F31D1D;
    border-radius: 0 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.left {
    width: 526px;
    margin-right: 50px;
}
.left h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;

    letter-spacing: -0.03em;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #FFFFFF;
}
.left p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* or 153% */

    letter-spacing: -0.011em;

    color: #FFFFFF;

    opacity: 0.8;
}
.second {
    display: flex;
    margin-top: 80px;
}
.second img {
    width: 636px;
}

.firstPhoto {
    margin-bottom: 30px;
}